@keyframes rotateIn {
  from {
    transform-origin: center;
    transform: rotate3d(0, 0, 1, -200deg);
 
  }

  to {
    transform-origin: center;
    transform: translate3d(0, 0, 0);
  
  }
}

.rotateIn {
  animation-name: rotateIn;
}
